html, body {
    margin: 0;
    height: auto;
  }
  
  .App {
    background-color: #262626;
    height: fit-content;
    min-height: 100vh;
  }
  
  .Contatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1rem;
  }

  .Contatos input{
    width: 50%;
    height: 2rem;
    border: none;
    border-radius: 10px;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
  
  .Link{
    color: #D31A1A;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 4px #000000;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
  }
  
  .Link:hover{
    color: #d42e2e;
    cursor: pointer;
    transform: scale(1.1);
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    .App {
      min-height: 100vh;
      height: auto;
    }
    .Contatos{
      flex-direction: column;
    }
  }

  /* card styles */

  .Card{
    background-color: #4F4F4F;
    border-radius: 10px;
    box-shadow: 0px 2px 4px #383838;
    display: flex;
    align-items: center;
    justify-content: space-between; /* updated */
    transition: all 0.3s ease-in-out;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #ffffff;
    width: 40vw;
    height: 9vh;
    gap: 1rem;
    font-size: 0.6rem;
    padding-right: 1em;
    padding-left: 1em;
}

.Card:hover{
    cursor: pointer;
    background-color: #5F5F5F;
}

.Card__buttons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.Edit{
    background-color: #B1D4E8;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    padding-left: 2rem;
    padding-right: 2rem;
}

.Edit:hover{
    background-color: #6cc6fa;
    transform: translateY(-5px)
}

.Delete{
    background-color: #D7B9B9;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    padding-left: 2rem;
    padding-right: 2rem;
}

.Delete:hover{
    background-color: #f76d6d;
    transform: translateY(-5px)
}

.Card__buttons img {
    width: 3vw;
    border-radius: 10%;
}

@media screen and (max-width: 1024px) {
    .Card{
        flex-direction: column;
        gap: 0rem;
        width: 50vw;
        height: 15vh;
        gap: 0rem;
        font-size: 0.5rem;
        padding-right: 0em;
        padding-left: 0em;
        
    }
    .Card__buttons{
        flex-direction: row;
        gap: 1rem;
    }

    .Card__buttons img {
        width: 4vw;
    }
    
}

@media screen and (max-width: 768px) {
    .Card{
        flex-direction: column;
        gap: 0rem;
        width: 45vw;
        height: 20vh;
        gap: 0rem;
        font-size: 0.5rem;
        padding-right: 0em;
        padding-left: 0em;
        
    }
    .Card__buttons{
        flex-direction: row;
        gap: 1rem;
    }

    .Card__buttons img {
        width: 7vw;
    }

    .Delete{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .Edit{
        padding-left: 1rem;
        padding-right: 1rem;
    }

  }